@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-xs-text {
  font-size: 10px;
  line-height: 20px;
}

.delete-btn {
  opacity: 0
}

.parent-hotel:hover .delete-btn {
  opacity: 1
}

.backdrop-color {
  background: rgba(0, 0, 0, 0.6);
}
.modal-transform {
  transform: translate(-50%, -50%);
}

.remove-btn {
  top: -221px;
  left: 130px;
}